{% extends 'main/layout.html' %}

{% block content %}
    <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
    <div class="form-error">{{form.non_field_errors}}</div>
        <div class="mb-3">
    {% csrf_token %}
    <label for="exampleInputEmail1" class="form-label">{{form}}</label>
    <button type="submit" class="btn btn-primary">Сократить</button>
        </div>
</form>

{% if short_link %}
    <p class="lead" >
        Укороченная ссылка: <a href="{{short_link}}" target="_blank">{{short_link}}</a>
    </p>
{% endif %}
{% endblock %}
