{% extends 'main/layout.html' %}

{% block content %}
    <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
    <div class="form-error">{{form.non_field_errors}}</div>
        <div class="mb-3">
    {% csrf_token %}
    <label for="exampleInputEmail1" class="form-label">{{form}}</label>
    <button type="submit" class="btn btn-primary">Сократить</button>
        </div>
</form>

{% if short_link %}
    {% if short_link == 'Невозможно обработать URL' %}
        <p class="lead" >
            {{short_link}}
        </p>
    {% else %}
    <p class="lead" >
        Укороченная ссылка: <a href="{{link_obj.get_absolute_url}}" target="_blank">http://127.0.0.1:8000/{{short_link}}</a>

    </p>
    {% endif %}
{% endif %}
{% endblock %}
