{% extends 'main/layout.html' %}
{% load main_tags %}

{% block content %}
{% if urls %}
    {% for i in urls %}
        <ul class="list-inline">
            <li class="list-inline-item">http://127.0.0.1:8000/{{i.short_url}} <a href="{{i.get_absolute_url}}" target="_blank">  Перейти</a></li>
            <hr>
        </ul>
    {% endfor %}
<p class="lead">
        Количество записей: {% get_len urls %}
    </p>
{% else %}
    <p class="lead">
        История пока пуста
    </p>
{% endif %}
{% endblock %}
